.intro {
    @include adaptiveValue("margin-bottom", 80, 40);
}

.body-intro {
    display: flex;
    flex-direction: row;
    gap: 12px;

    @media (max-width:$mobile) {
        flex-direction: column;
    }

    // .body-intro__content
    &__content {
        background-color: #fff;
        border-radius: 3px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        min-width: 50%;

        @media (max-width: em(1200)) {
            padding: 15px;
        }
    }

    // .body-intro__title
    &__title {
        line-height: 120%;
        @include adaptiveValue("margin-bottom", 30, 15);

        span {
            color: $primary;
        }
    }

    // .body-intro__qualities
    &__qualities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: em(1200)) {
            grid-template-columns: repeat(1, 1fr);
        }

        @include adaptiveValue("gap", 15, 5);
    }

    // .body-intro__qualitites-item
    &__qualitites-item {
        color: $mainText;
        display: flex;
        flex-direction: column;
        width: fit-content;
        @include adaptiveValue("font-size", 16, 14);

        p {
            padding-left: 20px;
            line-height: 1;
        }
    }

    // .body-intro__bottom
    &__bottom {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width:$tablet) {
            @include adaptiveValue("margin-top", 30, 15);
        }

        @media (max-width:$mobileSmall) {
            flex-direction: column;
        }

        .swiper-controls {
            margin-top: auto;

            @media (max-width:$mobileSmall) {
                margin-top: 30px;
                max-width: fit-content;
                margin: 30px auto 0px auto;
            }
        }
    }

    // .body-intro__slider
    &__slider {
        border-radius: 3px;

        @media (max-width:$mobile) {
            width: 100%;
        }
    }

    // .body-intro__swiper
    &__swiper {}

    // .body-intro__slide
    &__slide {}

    // .body-intro__slide-img
    &__slide-img {
        img {
            @media (max-width:$mobile) {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            @media (max-width:$mobileSmall){
                 height: 200px; 
            }
        }
    }
}


.border-top {}


.border-bottom {}