.body-promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-radius: 3px;
    width: 100%;
    overflow: hidden;

    // .body-promo__content
    &__content {}

    // .body-promo__photo
    &__photo {
        position: absolute;
        right: 0;

        img {
            border-radius: 3px;
        }
    }

    // .body-promo__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 50%;

        @media (max-width: em(880)) {
            img {
                opacity: 0.7;
            }
        }

    }
}

.content-body-promo {
    color: #fff;
    padding: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 260px;

    @media (max-width:$tablet) {
        padding: 15px;
    }

    @media (max-width:$mobile) {
        //  padding-left: 0; 
    }

    // .content-body-promo__title
    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 32, 26);

        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    // .content-body-promo__subtitle
    &__subtitle {
        max-width: 80%;
    }

    // .content-body-promo__button
    &__button {
        margin-top: auto;
    }
}