.stages {
    background: linear-gradient(-135deg, $primary, #294390);
    color: #fff;
    @include adaptiveValue("padding-top", 100, 50);
}

.body-stages {
    display: flex;
    flex-direction: row;
    @include adaptiveValue("gap", 130, 35, 1920, 767);

    @media (max-width:$mobile) {
        gap: 30px;
        flex-direction: column;
    }

    // .body-stages__content
    &__content {
        @media (max-width:$mobile) {
            max-width: 500px;
            margin: 0px auto;
        }
    }

    &__block-title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }

    // .body-stages__title
    &__title {
        position: relative;

        &::before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $strokeDark;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -45px;
            transition: all 0.3s ease 0s;
            transform: translate(50%, -50%);

            @media (max-width:$mobileSmall) {
                left: -35px;
            }
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 10, 5);
        }
    }

    // .body-stages__item
    &__item {
        position: relative;
        padding-left: 35px;
        height: max-content;

        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: em(1165)) {
                margin-bottom: 20px;
            }

            @media (max-width:$mobile) {
                margin-bottom: 30px;
            }

            @media (max-width: em(355)) {
                margin-bottom: 15px;
            }
        }

        @media (max-width:$mobileSmall) {
            padding-left: 25px;
        }

        &.active {
            .body-stages__title {
                &::before {
                    background-color: #fff;
                }
            }

            .body-stages__item-line {
                line {
                    stroke: #fff;
                }
            }
        }


    }

    // .body-stages__text
    &__text {}

    // .body-stages__photo
    &__photo {
        flex: 1 1 100%;
        max-width: fit-content;

        @media (max-width:$mobile) {
            margin: 0px auto;
        }

        img {
            border-radius: 3px;
            max-width: 100%;
        }
    }

    &__item-line {
        position: absolute;
        left: 4px;
        top: 20px;

        line {
            transition: all 0.3s ease 0s;
        }

        @media (max-width:$tablet) {
            top: 15px;
        }

        @media (max-width: em(353)) {
            top: 25px;
        }
    }
}